<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 제목태그 생성 -->
    <h1>Log In</h1>
    <p>이 페이지는 로그인 페이지입니다.</p>
    <a href="/second/">second page로 이동</a>
    <a href="https://www.google.com/">Google로 이동</a>
    <button onclick="window.open('https://www.naver.com/')">Naver로 이동</button>
    <form action="/login/" method="post">
        <div>
            <label>ID</label>
            <input type="text" name="_id">
        </div>
        <div>
            <label>PASSWORD</label>
            <input type="password" name="_pass">
        </div>
        <input type="submit">
    </form>
</body>
</html>